<div class="row section">
    <div class="col">
        <div class="practical-section">
            <h2 class="center-title">
                <div class="background-box">Practical</div>
            </h2>
            <!-- 
                Officielle (IGN, Gamespot, etc)
                Youtubers
                Forbruger (bedste + mest kritisk)
                For/imod liste
                Metacritic tag
                Systemkrav (min + rec)
                Udvikler + udgiver info
                VR Support
                Platforme
                Links (Reddit side, Twitch, Youtube, etc.).
            -->
        </div>
    </div>
</div>